html,
body {
  height: 100%;
}

body {
  background: $color-bg-body;
}

.docs {
  background: $color-white;
  box-shadow:rgba(150, 150, 150, 0.1) 0 0 20px 0;
  max-width: 1680px;
  min-height: 100%;
}
