<html>
<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>API Documentation</title>

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">

    <!-- Favicon and Apple Touch Icons-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->
</head>
<body>
<div class="container docs">
    <aside class="docs__sidebar">
        <div class="docs__sidebar-item">Overview</div>
        <div class="docs__sidebar-item">Brands</div>
        <div class="docs__sidebar-item">Distribution Channels</div>
        <div class="docs__sidebar-item">Fuels</div>
        <div class="docs__sidebar-item">Services</div>
        <div class="docs__sidebar-item">Stations</div>
    </aside>
    <main>

    </main>
</div>
<script src="js/index.js"></script>
</body>
</html>
